.css-w770g5.edgvbvh10{
    background-color:Tomato;
    color:lightyellow
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-1cypcdb.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-e3xfei.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(3) > div > button > div > p{
    font-family: Arial, Helvetica, sans-serif;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-1cypcdb.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-e3xfei.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(1) > div > div{
    background-color:#AF7AC5 ;
    color: white;
}